<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <category name="Editor Indentation"
                id="com.github.singond.eclipse.indenter.commands.category">
      </category>
      <command name="Toggle Spaces for Tabs"
               id="com.github.singond.eclipse.indenter.commands.insertSpaces"
               categoryId="com.github.singond.eclipse.indenter.commands.category">
      </command>
      <command name="Set Tab Width"
               id="com.github.singond.eclipse.indenter.commands.setTabWidth"
               categoryId="com.github.singond.eclipse.indenter.commands.category">
         <commandParameter id="com.github.singond.eclipse.indenter.params.tabWidth"
                           name="Tab width"
                           optional="false"/>
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.github.singond.eclipse.indenter.commands.insertSpaces"
               class="com.github.singond.eclipse.indenter.InsertSpacesHandler">
      </handler>
      <handler commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
               class="com.github.singond.eclipse.indenter.TabWidthHandler">
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <key commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
           contextId="org.eclipse.ui.contexts.window"
           sequence="M1+6"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <!-- Toolbar -->
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.edit.text.actionSet.presentation?after=Presentation">
         <toolbar id="com.github.singond.eclipse.indenter.toolbars.main"
                  label="Editor Indentation">
            <command id="com.github.singond.eclipse.indenter.toolbars.commands.insertSpaces"
                     commandId="com.github.singond.eclipse.indenter.commands.insertSpaces"
                     icon="icons/space-tabs.gif"
                     tooltip="Insert Spaces for Tabs">
            </command>
            <command id="com.github.singond.eclipse.indenter.toolbars.commands.setTabWidth"
                     commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
                     icon="icons/indent-width.gif"
                     tooltip="Change Tab Width"
                     style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <!-- Dropdown items for tab width chooser -->
      <menuContribution
            locationURI="menu:com.github.singond.eclipse.indenter.toolbars.commands.setTabWidth">
         <command commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
                  label="0"
                  style="push">
            <parameter name="com.github.singond.eclipse.indenter.params.tabWidth" value="0"/>
         </command>
         <command commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
                  label="1"
                  style="push">
            <parameter name="com.github.singond.eclipse.indenter.params.tabWidth" value="1"/>
         </command>
         <command commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
                  label="2"
                  style="push">
            <parameter name="com.github.singond.eclipse.indenter.params.tabWidth" value="2"/>
         </command>
         <command commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
                  label="3"
                  style="push">
            <parameter name="com.github.singond.eclipse.indenter.params.tabWidth" value="3"/>
         </command>
         <command commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
                  label="4"
                  style="push">
            <parameter name="com.github.singond.eclipse.indenter.params.tabWidth" value="4"/>
         </command>
         <command commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
                  label="8"
                  style="push">
            <parameter name="com.github.singond.eclipse.indenter.params.tabWidth" value="8"/>
         </command>
         <command commandId="com.github.singond.eclipse.indenter.commands.setTabWidth"
                  label="16"
                  style="push">
            <parameter name="com.github.singond.eclipse.indenter.params.tabWidth" value="16"/>
         </command>
      </menuContribution>
   </extension>
</plugin>
